<!DOCTYPE html>
<html>
<head>
  <title>Techinchargers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag 'bootstrap', 'font-awesome.min', 'nice-select.min', 'style', 'font', 'owl.carousel.min', 'responsive', 'application', 'data-turbo-track': 'reload' %>

  <!-- Include jQuery -->
  <%= javascript_include_tag 'jquery-3.4.1.min.js', 'owl.carousel.min.js', 'owlcarousel2-filter.min.js', 'bootstrap', 'custom', 'jquery.nice-select.min', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="header_section">
  <div class="header_top">
    <div class="container-fluid header_top_container">
      <a class="navbar-brand " href="<%= root_path %>"> Tech<span>Weld</span> </a>
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
                India
              </span>
        </a>
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
                Call : +91 7988327804
              </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
                hmnshgrvr@gmail.com
              </span>
        </a>
      </div>
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="header_bottom" style="background-color: black">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand navbar_brand_mobile" href="<%= root_path %>"> Tech<span>Weld</span> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= service_path %>">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= about_path %>"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= portfolio_path %>">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= contact_path %>">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                      Login
                    </span>
              </a>
            </li>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<%= yield %>
<section class="info_section ">
  <div class="info_container layout_padding2">
    <div class="container">
      <div class="info_logo">
        <a class="navbar-brand" href="<%= root_path %>"> Tech<span>Weld</span> </a>
      </div>
      <div class="info_main">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <div class="info_link-box">
              <h5>
                Useful Link
              </h5>
              <ul>
                <li class=" active">
                  <a class="" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="<%= about_path %>">About </a>
                </li>
                <li class="">
                  <a class="" href="<%= service_path %>">Services </a>
                </li>
                <li class="">
                  <a class="" href="<%= portfolio_path %>"> Portfolio </a>
                </li>
                <li class="">
                  <a class="" href="<%= contact_path %>"> Contact </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ">
            <h5>
              Welding
            </h5>
            <p>
              Experience the Techweld difference where quality craftsmanship, personalized service, and customer satisfaction come together.
            </p>
          </div>
          <div class="col-md-3 mx-auto  ">
            <h5>
              social media
            </h5>
            <div class="social_box">
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <h5>
              Our welding center
            </h5>
            <p>
              India & USA
            </p>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-8">
            <div class="info_contact ">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="link-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        India
                      </span>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call +91 7988327804
                      </span>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        hmnshgrvr@gmail.com
                      </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_form ">
              <form action="">
                <input type="email" placeholder="Email To Subscribe Our Newsletter" />
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://techinchargers.com/">Techinchargers Powered By <a href="https://touchrails.com/">TouchRails</a></a>
    </p>
  </div>
</footer>
</body>
</html>
